---
layout: default
title: Home
---

<!-- Home Jumbotron
================================================== -->    
<section class="intro full-width">
    <div class="wrapintro">
        <h1>My covid-19 data files</h1>
        <h2 class="lead">I want to help but I also care about my data and privacy. I answer the NHS online questions once a day, adding them to a spreadsheet and uploading it to Github. The only difference is I've put the wrong birth day and month and only the first part of my postcode. Is this useful?
        If we do that once a day, it might create a feed of our health data for NHS data-scientists to download?</h2>    
        <a href="https://github.com/lrdj/nhs-datalog/tree/master/_data/health-data.csv" class="btn">Download Dug's .csv file</a>
    </div>
</section>


<!-- Featured
================================================== -->
<section class="featured-posts">

</section>

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}    

<section class="recent-posts row">

</section>

